{% extends "photogal/base.html" %} {% block content %}

<h1>{{ category_name }} Photos</h1>

{% for pic in pictures %}
<div class="picture">

    <a href="{% url 'photo_detail' pic.id %}">
        <img src="{{pic.upload.url}}" style="width:100%" />
    </a>

    <ul>
        {% for tag in pic.tags.all %}
        <li style="display:inline;">
            <a href="{% url 'tag' tag.name %}">{{tag.name}}</a>
        </li>
        {% endfor %}
    </ul>


</div>
{% endfor %} {% endblock %}